.menu {
    display: none;
  }
  ul#navbar {
    margin: auto;
    transition: all 0.3s;
  }
  .classOpen {
    display: block;
  }
   li.navMenu {
    margin-bottom: 1px;
    position: relative;
  }
  ul#navbar li.navMenu a {
    text-decoration: none;
    color: #4a4b4f;
    font-weight: 600;
    font-size: 30px;
    padding: 25px;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  li.navMenu a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 7px;
    background-color: #f7ca4a;
    content: "";
    transition: width 0.3s ease-out;
  }
  li.navMenu a:hover:after,
  li.navMenu a:focus:after {
    width: 100%;
  }
  .wrapper {
    padding: 25px;
  }
  .navToggle {
    outline: none;
    border: none;
    width: 24px;
    height: 2px;
    position: relative;
    transition: all 0.3s;
    background-color: #888;
    border-radius: 2px;
  }
  .navToggle::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    transition: all 0.3s;
    background-color: #888;
    border-radius: 2px;
    top: 5px;
    left: 0;
  }
  .navToggle::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    transition: all 0.3s;
    background-color: #888;
    border-radius: 2px;
    bottom: 5px;
    left: 0;
  }
  .navToggleClose {
    background-color: transparent;
  }
  .navToggleClose::before {
    transform: rotate(45deg);
    top: 0;
  }
  .navToggleClose::after {
    transform: rotate(-45deg);
    top: 0;
  }
  @media (min-width: 1024px) {
    .menu {
      display: flex;
      justify-content: space-between;
    }
    .navToggle {
      display: none;
    }
    nav.nav {
      width: 50%;
      margin-left: 50%;
    }
    header.header {
      width: 100%;
      padding: 5px;
      padding-right: 50px;
      padding-left: 50px;
      background-color: #f9ede5;
      background-color: transparent;
      display: flex;
    }
    li.navMenu a{
      background-color: transparent;
      color: #4a4b4f;
      outline: none;
      font-weight: 600;
      font-size: 22px;
      padding-left: 5px;
      padding-right: 5px;
    }
    li.navMenu a:after {
      bottom: -15px;
    }
    .wrapper {
      display: none;
    }
  }