.skills h2 {
    font-size: 26px;
  }
.skills ul {
    z-index: 230;
    padding-left: 25px;
    padding-bottom: 25px;
  }
.skills li {
    font-size: 24px;
    line-height: 30px;
    list-style: unset;
    margin-bottom: 15px;
  }
  .skills {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }
  .skills:after {
    position: absolute;
    content: '';
    background-image: url('../public/images/wave2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    left: 0px;
    bottom: -30px;
    z-index: -10;
  }
  .skillImg {
    width: 100%;
  }
  .skillImg img {
    border: 20px solid #f7ca4a;
    width: 100%;
    max-width: 450px;
  }
  @media (min-width: 1024px) {
    .skills ul {
      padding-bottom: 0;
    }
    .skills h2 {
      font-size: 40px;
    }
    .skills li {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    .skills {
      display: flex;
      padding-top: 60px;
      padding-left: 50px;
      padding-right: 0;
      padding-bottom: 70px;
    }
    .skillImg {
      width: 50%;
      position: relative;
    }
    .skillImg img {
      border: 20px solid #f7ca4a;
      position: absolute;
      width: 450px;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 21;
    }
    .skillsText {
      width: 50%;
    }
  }